@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);
html, body{
	height: 100%;
} 
body{
	color: #333;
	background: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Roboto", helvetica, arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-rendering: optimizeLegibility;
} 

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.mdl-layout--fixed-header{
	position: fixed;
	top:0;
	left: 0;

}
header > div{
	background-color: #100f0c;	
}
.login-block{
	 margin-left: auto;
}
.login-block a{
	margin-left: 15px;
	color: #FFCA28;
}
div#root{
	width: 60%;
}
.login-wrapper{
	 margin: auto;
	 margin-bottom: 40px;
}

div.wrapper{
	margin:auto;
}
div.add-row, div.edit-row{
	margin: 10px 0;
	padding-left: 10px;
	padding-right: 10px;
	background-color: white;
}
div.add-row input,div.edit-row input, .mdl-textfield{
	max-width: 160px;
	color: #333;
	margin-right: 15px;
}
div.add-row {
	padding-left: 85px;
}
.mdl-textfield.small{
	max-width: 60px;
}
div.add-row button, div.edit-row button{
	margin-top: 12px;
	float:right;	
}
.delete-button, .edit-button{
	background-image: url("./icons/ic_delete_black_24dp_2x.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 60%;
	min-width: 36px;
}
.edit-button{
	background-image: url("./icons/ic_edit_black_24dp_2x.png");
}
.mdl-textfield{
	padding-bottom: 8px !important;
}

div.error{
	text-align: center;
	color: #ddd;
}
.status{
	padding: 10px;
	background-color: #FFD54F;
	text-align: center;
}
.status p {
	margin-bottom: 5px;
}
table > thead > tr {
	border-top: 5px solid #2D2A22;
	border-right: 1px solid #FFCA28;
	border-left: 1px solid #FFCA28;
	background-color: #FFCA28;
	font-weight: 700;
}
.row-selected{
	background-color: #eee;
}
table#user-table{
	width: 100%;
	color: #222;
}

.mdl-color--primary{
	background-color: #FFCA28 !important;
}
.mdl-button.mdl-button--colored{
	color: #00796B;
}

.mdl-button--raised.mdl-button--colored {
	background-color: #00796B;
	color: white;
}
.mdl-button--raised.mdl-button--colored:hover, 
.mdl-button--raised.mdl-button--colored:active, 
.mdl-button--raised.mdl-button--colored:focus:not(:active), 
.mdl-button--raised.mdl-button--colored:visited {
	background-color: #00695C;
}

